h1 {
    text-align: center;
    font-size: 64px;
}

label, input {
    display:flex;
    flex-direction: column;
}
select, input {
    width:650px;
    height: 40px;
    font-size: 24px;
}
.nick {
    font-size: 24px;
}
.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    font-size: 24px;
    height: 80vh;
    flex: 1 0 100%;
}
.big_button {
    text-align: center;
    width: 500px;
    height: 75px;
    margin: 15px;
    font-size: 32px;
}
.medium_button {
    text-align: center;
    width: 300px;
    height: 50px;
    margin: 10px;
    font-size: 24px;
}
.reference{
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 10px;
}
.help_box{
    overflow-y:scroll;
    background-color:lightgray;
}
.help_chapter {
    display: none;
}
.developers{
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 10px;
}

.dev_text {
    white-space:pre-line;
}

.avatar_item {
   display: flex;
   align-items: center;
   gap: 5px;
}

.avatar_item img {
    width: 150px;
}


.avatar_item span {
    font-size: 50px;
}

.game_board button {
    min-width: 55px;
    width: 8vw;
    aspect-ratio: 1;
    font-size: 50px;
    border-radius: 25%;
}

.game_board button:hover {
    background-color: #b7b7b7;
}

.game_board button:disabled {
    background-color: #edeceb;
}

.game_board button.kalah {
    aspect-ratio: 0.5;
}

.stone_holder {
    position: relative;
}

.stone_holder > div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2px;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
}

.stone_holder > div > div {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: blue;
}

.stone_holder:hover > div > div {
    transform: scale(1.1);
}

::backdrop {
    background-color: black;
    opacity: 0.5;
}
