<dialog id="devDialog">
    <div class="dev_text">
        Самарский университет
        Институт информатики и кибернетики
    </div>
    <div class="dev_text">
        Курсовой проект по дисциплине "Программная инженерия"
        по теме Приложение «Игра «Калах»
    </div>
    <div class="dev_text">
        Разработчики (обучающиеся группы 6301-020302D):
        А.А. Головин
        А.Ю. Черепанов
        Р.А. Александров
    </div>
    <div class="dev_text">
        Самара 2025 г.
    </div>
    <form method="dialog">
      <button class="medium_button">
        Закрыть
      </button>
    </form>
</dialog>
