{% extends "base.html" %}

{% block title %}Игровое поле{% endblock %}

{% block content %}
<h1>Игровое поле</h1>

<div style="
    display: flex;
    flex-direction: column;
    align-items: center;
">
    <div style="
        display: flex;
        flex-direction: column;
        align-items: center;
    ">
        <div style="align-self: start" class="avatar_item">
            <img src="{{opponent_player_avatar}}" width="150"/>
            <span>{{opponent_player_name}}</span>
        </div>

        <table class="game_board">
            <tr>
                {% for hole in opponent_player_holes | reverse %}
                <th {% if loop.first %}rowspan="2" {% endif %}>
                    <button id="player2_hole{{loop.revindex0}}" disabled="disabled" {% if loop.first %}class="kalah" {% endif %}>{{hole}}</button>
                </th>
                {% endfor %}
                <th rowspan="2">
                    <button id="player1_hole{{current_player_holes|length - 1}}" disabled="disabled" class="kalah">
                        {{current_player_holes[-1]}}
                    </button>
                </th>
            </tr>
            <tr>
                {% for hole in current_player_holes[:-1] %}
                <th>
                    <button id="player1_hole{{loop.index0}}"
                            {% if current_player_name !=state.current_player or hole == 0 %}
                            disabled="disabled" {% endif %}>{{hole}}
                    </button>
                </th>
                {% endfor %}
            </tr>
        </table>

        <div style="align-self: end" class="avatar_item">
            <span>{{current_player_name}}</span>
            <img src="{{current_player_avatar}}" width="150"/>
        </div>
    </div>
    <a href="{{url_for('main_page')}}"><button class="big_button" type="button">Вернуться на главную</button></a>
</div>

<script>
    function connect() {
        var ws = new WebSocket("{{url_for('websocket_endpoint', settings_id=settings_id, player_nick=current_player_name)}}")
        const current_player = "{{current_player_name}}"
        ws.onmessage = function(event) {
            console.log(event.data)
            const message = JSON.parse(event.data)
            if (message["type"] == "new_state") {
                const disabled = message["current_player"] !== current_player
                {% for hole in current_player_holes  %}
                player1_hole{{loop.index0}}.innerText = message["{{current_player_key}}"][{{loop.index0}}]
                {% if not loop.last %}
                player1_hole{{loop.index0}}.disabled = disabled || message["{{current_player_key}}"][{{loop.index0}}] === 0
                {% endif %}
                {% endfor %}
                {% for hole in opponent_player_holes  %}
                player2_hole{{loop.index0}}.innerText = message["{{opponent_player_key}}"][{{loop.index0}}]
                {% endfor %}
            }
        }
        {% for hole in current_player_holes  %}
        player1_hole{{loop.index0}}.onclick = function() {
            ws.send(JSON.stringify({
                "hole": {{loop.index0}}
            }))
        }
        {% endfor %}

        ws.onclose = function(e) {
            console.log('Socket is closed. Reconnect will be attempted in 1 second.', e.reason);
            setTimeout(function() {
                connect();
            }, 1000);
        };
    }
    connect()

</script>
{% endblock %}
