{% extends "base.html" %}

{% block title %}Игровое поле{% endblock %}

{% block content %}
<h1>Игровое поле</h1>

{% for hole in state.holes_player2 | reverse  %}
<button id="player2_hole{{loop.revindex0}}">{{hole}}</button>
{% endfor %}
<br>
{% for hole in state.holes_player1  %}
<button id="player1_hole{{loop.index0}}">{{hole}}</button>
{% endfor %}

<script>
    var ws = new WebSocket("ws://localhost:8000/ws/{{settings_id}}");
    ws.onmessage = function(event) {
        console.log(event.data)
        const message = JSON.parse(event.data)
        if (message["type"] == "new_state") {
            {% for hole in state.holes_player1  %}
            player1_hole{{loop.index0}}.innerText = message["holes_player1"][{{loop.index0}}]
            {% endfor %}
            {% for hole in state.holes_player2  %}
            player2_hole{{loop.index0}}.innerText = message["holes_player2"][{{loop.index0}}]
            {% endfor %}
        }
    }
    {% for hole in state.holes_player1  %}
    player1_hole{{loop.index0}}.onclick = function() {
        ws.send(JSON.stringify({
            "hole": {{loop.index0}}
        }))
    }
    {% endfor %}
</script>
{% endblock %}
