{% extends "base.html" %}

{% block title %}Справка{% endblock %}

{% block content %}
<h1>Справка</h1>
<div class="menu">
    <div style="display:flex;justify-content:space-around;height:60%;">
        <div style="width:25%;text-align:center;" class="help_box">
            <button class="medium_button help_button" id="help_button_game_history" onclick="helpButtonPressed('game_history')">
                История игры
            </button>
            <button class="medium_button help_button" id="help_button_rules" onclick="helpButtonPressed('rules')">
                Правила игры
            </button>
            <button class="medium_button help_button" id="help_button_create_lobby" onclick="helpButtonPressed('create_lobby')">
                Создание лобби
            </button>
            <button class="medium_button help_button" id="help_button_join_lobby" onclick="helpButtonPressed('join_lobby')">
                Присоединение к лобби
            </button>
        </div>
        <div style="width:65%;" class="help_box">
            <div class="help_chapter" style="display:block;">
                Нажмите на кнопку слева для просмотрая разделов справки.
            </div>
            <div class="help_chapter" id="help_chapter_game_history">
                <div>
                    Прототипом игры калах является более древняя игра манкала,
                    происходящая из северной Африки,
                    а затем распространившаяся далее по Африке и Азии.
                </div>
                <br>
                <div>
                    <img src="../static/images/help/mankala.jpg" width="500">
                </div>
                <br>
                <div>
                    В 1893 году на Всемирной выставке в Чикаго был представлен стенд с описанием и правилами некой манкала-подобной игры,
                    после чего сведения о ней начали распространяться в печатных изданиях.
                    В одном журнале 1905 года об этой игре узнал американец Вильям Чемпион (1880—1972),
                    выпускник Йельского университета, геолог по образованию.
                    В 1940 году он изобрёл, а в 1944 году начал производить
                    и продавать наборы для игры в калах в городе Мистик (округ Нью-Лондон, штат Коннектикут),
                    позднее в Сейлеме (округ Эссекс, штат Массачусетс).
                    Вильям дал своей игре название по названию пустыни Калахари,
                    где по его утверждению в неё до сих пор играют местные жители.
                    В 1958 году Вильям основывает компанию Kalah Game Company в городе Холбрук,
                    располагающейся по адресу 27 Maple Avenue, округ Норфолк, штат Массачусетс.
                </div>
            </div>
            <div class="help_chapter" id="help_chapter_rules">
                <div>
                В калах играет два человека.
                Комплект для игры калах представляет собой несколько лунок выстроенных в два ряда,
                и две большие лунки по сторонам, которые и называются "калах".
                Исходная позиция: в каждой из лунок, кроме калахов, лежит равное число камней.
                Двое игроков сидят друг напротив друга.
                Ход заключается в том, что один из играющих берет все шарики из любой лунки в своем ряду
                и распределяет их по одному в каждую из следующих лунок и свой калах, пропуская калах соперника.

                </div>
                <br>
                <div>
                    <img src="../static/images/help/kalah.png" width="500">
                </div>
                <br>
                <div>
                    Если последний камень попал в калах, то игрок ходит снова.
                </div>
                <br>
                <div>
                    Если последний камень попал в пустую лунку принадлежащую ему
                    и противоположная лунка соперника не пуста, то этот камень
                    и все камни из противоположной лунки соперника игрок переносит себе в калах.
                </div>
                <br>
                <div>
                    Когда у одного из игроков все лунки пусты (ему нечем ходить),
                    то его соперник переносит все оставшиеся у него в лунках камни в свой калах.
                    Выигрывает тот у кого в калахе будет больше камней. В случае равенства количества камней - ничья.
                </div>
            </div>
            <div class="help_chapter" id="help_chapter_create_lobby">
                <div>
                    Для начала процесса создания лобби, необходимо нажать соответствующую кнопку в главном меню,
                    после чего откроется страница создания лобби.
                </div>
                <br>
                <div>
                    <img src="../static/images/help/lobby_main.png" width="500">
                </div>
                <br>
                <div>
                    От выбора режима зависит будет ли соперник компьютерным алгоритмом или живым человеком.
                </div>
                <br>
                <div>
                    <img src="../static/images/help/lobby_mode.png" width="500">
                </div>
                <br>
                <div>
                    Настройки количества лунок и камней влияют на начальное состояние игрового поля.
                </div>
                <br>
                <div>
                    <img src="../static/images/help/lobby_num.png" width="500">
                </div>
                <br>
                <div>
                    При выборе однопользовательского режима,
                    предоставляется возможность изменения сложности компьютерного соперника.
                </div>
                <br>
                <div>
                    <img src="../static/images/help/lobby_difficulty.png" width="500">
                </div>
                <br>
                <div>
                    После создания лобби в многопользовательском режиме,
                    вместо перехода к игровому полю,
                    открывается страница комнаты ожидания, где предоставляется информация о лобби
                    и код, который необходимо передать сопернику для присоединения к лобби.
                </div>
                <br>
                <div>
                    <img src="../static/images/help/lobby_wait.png" width="500">
                </div>
            </div>
            <div class="help_chapter" id="help_chapter_join_lobby">
                <div>
                    Для начала процесса присоединения к лобби, необходимо нажать соответствующую кнопку в главном меню,
                    после чего откроется страница приоединения к лобби.
                </div>
                <br>
                <div>
                    <img src="../static/images/help/join_main.png" width="500">
                </div>
                <br>
                <div>
                    Для присоединения к лобби необходимо вставить код,
                    предоставляемый cоздателю лобби в комнате ожидания.
                </div>
                <br>
                <div>
                    <img src="../static/images/help/join_code.png" width="500">
                </div>
            </div>
        </div>
    </div>
<a href="{{url_for('main_page')}}"><button class="big_button">Вернуться на главную</button></a>
</div>
{% endblock %}

{% block head %}
<script>
    function helpButtonPressed(id) {
        var buttons = document.getElementsByClassName("help_button");
        for(var i = 0; i < buttons.length; i++){
            buttons[i].disabled=false;
        }
        var b = document.getElementById("help_button_" + id).disabled=true;

        var chapters = document.getElementsByClassName("help_chapter");
        for(var i = 0; i < chapters.length; i++){
            chapters[i].style.display="none";
        }
        document.getElementById("help_chapter_" + id).style.display="block";
    }
</script>
{% endblock %}