{% extends "base.html" %}

{% block title %}Главная{% endblock %}

{% block content %}
<div style="display:flex;justify-content:space-between;">
    <div>
        <img src="{{avatar_url}}" width="50"/>
        <span class="nick">{{user_name}}</span>
    </div>
    <a href="{{url_for('exit_user')}}">
        <button class="middle_button">Выйти</button>
    </a>
</div>
<div class="menu">
    <h1>Калах</h1>
    <a href="{{url_for('lobby_settings_page')}}">
        <button class="big_button">Создать лобби</button>
    </a>
    <a href="{{url_for('join_game_page')}}">
        <button class="big_button">Присоединиться к лобби</button>
    </a>
    <a href="{{url_for('settings_page')}}">
        <button class="big_button">Настройки</button>
    </a>
</div>
<a href="{{url_for('help_page')}}" class="reference">
    <button class="middle_button">Справка</button>
</a>
<button class="developers middle_button">О разработчиках</button>
{% endblock %}
