{% extends "base.html" %}

{% block title %}Главная{% endblock %}

{% block content %}
<div>
    <img src="{{avatar_url}}" width="50"/>
    <span>{{user_name}}</span>
</div>
<h1>Калах</h1>
<a href="{{url_for('exit_user')}}">Выйти</a>
<a href="{{url_for('lobby_settings_page')}}">Создать лобби</a>
<a href="{{url_for('join_game_page')}}">Присоединиться к лобби</a>
<a href="{{url_for('settings_page')}}">Настройки</a>
<a href="{{url_for('help_page')}}">Справка</a>
<button>О разработчиках</button>
{% endblock %}
