{% extends "base.html" %}

{% block title %}Комната ожидания{% endblock %}

{% block content %}
<div class="menu">
    <div>Количество лунок на игрока: {{holes_count}}</div>
    <div>Количество камней на лунку: {{stones_count}}</div>
    <div>Код приглашения: {{join_code}}</div>
    <a href="{{url_for('main_page')}}"><button class="big_button">Вернуться на главную</button></a>
</div>
<script>
    var ws = new WebSocket("{{url_for('websocket_waiting_room', settings_id=settings_id)}}");
    ws.onmessage = function(event) {
        window.location.replace("/game_board/{{settings_id}}")
    }
</script>
{% endblock %}
